body p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}
body h1 {
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 40px;
}
.gallery {
  background-color: #30b39c;
  background-image: url(../img/Layer_3.png);
  min-height: 826px;
  margin: 0 auto;
  max-width: 1600px;
  color: #fff;
}
.wrap {
  margin: 0 auto;
  max-width: 1102px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  text-align: center;
  padding: 80px 0;
}
.wrap .pictures {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto auto auto;
  grid-gap: 35px;
}
.wrap .pictures img {
  width: 100%;
  height: auto;
}
.team .members {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
}
.team .members .member p {
  margin-top: 10px;
  margin-bottom: 0;
}
.team .members .member p a:first-child {
  margin-right: 5px;
}
.team .members .member .bold {
  font-weight: 700;
  color: #5f5a5a;
}
.team .members .member a {
  text-decoration: none;
  color: #5a94d6;
}
.team .members .member a i {
  font-size: 20px;
}
.team .members img {
  width: 100%;
  height: auto;
}
@media (max-width: 756px) {
  .team .members {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
  }
  .gallery .pictures {
    grid-template-columns: auto auto;
    grid-gap: 30px;
  }
}
@media (max-width: 479px) {
  .team .members {
    display: grid;
    grid-template-columns: auto;
  }
  .gallery .pictures {
    grid-template-columns: auto;
  }
}
