body {
  font-family: Montserrat;
}
.container {
  display: grid;
  max-width: 1600px;
  grid-template-rows: repeat(7, auto);
}
.container div {
  outline: 1px solid #b3beb7;
}
.poster {
  height: 640px;
  background: url(../img/poster.jpg);
}
.whyUs {
  height: 856px;
  background: url(../img/Layer_2.png) no-repeat center bottom;
}
.garanties {
  height: 592px;
  background-color: #01587e;
  background-image: url(../img/Layer_9.png);
}
.galery {
  height: 826px;
  background-color: #30b39c;
  background-image: url(../img/Layer_3.png);
}
